<%= csrf_meta_tag %>
<% content_for :header_tags do %>
   <%= stylesheet_link_tag "/edit_fieldsets.css", :plugin => 'redmine_agrupacion_campos', :media => "screen" %>
<% end %>

<% groups = @issue.tracker.ac_groups 
 editable_values = @issue.editable_custom_field_values 
 values = @issue.custom_field_values
 map_values = values.index_by(&:custom_field_id) 
 cf_used = [] %>

	<% if groups.count > 0 && @project.module_enabled?(:agrupacion_de_campos)%>

		<!-- Muestra los campos personalizados que estan asignados a un grupo -->
		<% groups.order("priority ASC").each do |group| %>
			<% if group.ac_fields.present? %>
				<fieldset>
					<legend id='<%= group.name %>'><%= group.name %></legend>
					<% group.ac_fields.order("priority ASC").each do |cf| %>
						<% if map_values.keys.include?(cf.custom_field_id) %>
							<% cf_used << cf.custom_field_id %>
		                    <% value = map_values[cf.custom_field_id] %>
							<p class="edit_field">
			                    <% if editable_values.include? value %>
										<%= custom_field_tag_with_label :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %>
			                    <% else %>
			                    		<%= custom_field_tag_with_label_disabled :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %>
			                    <% end %>
							</p>
						<% end %>
					<% end %>
				</fieldset><br>
			<% end %>
		<% end %>

		<!-- Muestra los campos personalizados que no estan asignados a un grupo -->
		<% cf_used.uniq! %>

        <% values.compact.each do |value| %>
            <% if !cf_used.include?(value.custom_field_id) %>
				<p class="edit_field">
					<% if editable_values.include? value %>
							<%= custom_field_tag_with_label :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %>
                    <% else %>
                    		<%= custom_field_tag_with_label_disabled :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %>
                    <% end %>
				</p>
            <% end %>
        <% end %>

	<% else %>
		<%= render :partial => 'issues/form_custom_fields', :issue => @issue %>
	<% end %>

